node_modules
amplify
aws
.idea
.eslintrc.json
.prettierignore
.gitignore
.prettierrc.json
tsconfig.json
package-lock.json
package.json
README.md
yarn.lock
build
next-env.d.ts
next.config.js
.next
jest.config.js
jest.setup.js
